body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#colorButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2ecc71;
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

label {
    margin-top: 10px;
    font-size: 16px;
}

#messageInput,
#addMessageButton {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

#messageInput {
    width: 200px;
}
